#gameDiv{
    font-family: monospace;
    border: 3px solid;
    border-radius: 25px;
    padding: 10px;
    background-color: blanchedalmond;
    text-align: center;
}

#playerText{
    color: blue;
}

#computerText{
    color: red;
}
.choiceButton{
    line-height: 30px;
    width: 150px;
}
